.footer {
  padding: 50px 0;
  font-size: $paragraph;
  line-height: 2;
  color: #fff;
  background: #000;

  .footer__title {
    font-size: $header2;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .footer__text {
    margin-bottom: 10px;
  }
}